.main-landing-section {
  width: 90%;
  height: auto;
  margin: 0 auto;
  max-width: 1700px;
}
.logo {
  min-width: 100px;
  max-width: 700px;
  height: auto;
  width: 10%;
}
.section1-inner-div {
  display: flex;
  min-height: 40vh;
  font-family: "Alata-Regular";
  text-align: justify;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
.leftbar-main-div {
  width: 40%;
}

.rightbar-main-div {
  width: 50%;
}
.landing-image {
  min-width: 300px;
  max-width: 800px;
  width: 100%;
  /* transform-origin: 50% 0%; */
  animation: nfts 5s ease-in-out infinite;
}
@keyframes nfts {
  0% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(35deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-35deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

.rightbar-title {
  font-family: "Alata-Regular";
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 20px;
  color: black;
  line-height: 80px;
  max-width: 900px;
  min-width: 200px;
}
.rightbar-pera {
  font-size: 1.5rem;
  color: black;
  font-family: "Alata-Regular";
}
.main-text-section2 {
  height: 20vh;
  text-align: center;
  font-size: 4rem;
  font-family: "Alata-Regular";
  line-height: 90px;
  margin: 200px 0px;
  color: black;
  font-weight: 300;
}
.text-color1 {
  color: #be252e;
  font-family: "Alata-Regular";
}
.section3-main-content {
  font-family: "Alata-Regular";
  font-size: 4rem;
  color: black;
  width: 100%;
  font-weight: 300;
  height: 18vh;
  font-weight: 300;
}
.section4-landing-page {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 100%;
  min-width: 200px;
  min-width: 200px;
  max-width: 1500px;
}
.box1 {
  min-width: 200px;
  max-width: 900px;
  width: 25%;
  min-height: 35vh;
  padding: 25px;
  transition: all 1s ease;
  text-align: center;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 5px 50px 4px;
}
.box1:hover {
  transform: scale(1.2);
  transition: all 1s ease;
}
.content {
  text-align: center;
  min-width: 150px;
  max-width: 880px;
  width: 100%;
  color: black;
  font-size: 2em;
  padding-top: 20px;
  font-family: "Alata-Regular";
}
.landing-section4-content {
  font-family: "Alata-Regular";

  color: black;
  text-align: center;
  font-size: 3rem;
  line-height: 90px;
}
#section5-landingpage {
  margin: 200px 0px;
}
#section3-landingpage {
  margin: 200px 0px;
}
.section5-content-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 40vh;
}
.text-box1 {
  transition: all 1s ease;
  width: 20%;
  height: auto;
  min-height: 250px;
  min-width: 300px;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  padding-top: 90px;
  font-size: 2rem;
  font-family: "Alata-Regular";
  color: white;
}
.text-box1:hover {
  transform: scale(1.2);
  transition: all 1s ease;
}
.text-box2 {
  background-color: #be252e;
}
.text-box3 {
  background-color: #53a3c7;
}
#section6-landingpage {
  text-align: center;
  font-size: 3.5rem;
  font-family: "Alata-Regular";
  line-height: 90px;
  margin: 100px 0px;
  color: black;
}

.section6-content {
  width: 100%;
  padding-bottom: 5%;
}
.section6-button {
  font-size: 1.5rem;
  color: white;
  font-family: "Alata-Regular";
  background-color: #53a3c7;
  min-width: 205px;
  border-radius: 20px;
  max-width: 900px;
  margin-top: 20px;
  /* margin-left: 30%; */
}
.icon-img {
  width: 100%;
  height: 25vh;
  max-width: 900px;
  min-width: 100px;
}
.icon-img1 {
  width: 80%;
  height: 25vh;
}
input[type="file"]::file-selector-button {
  background-color: #53a3c7;
  color: white;
  border: none;
  padding: 4px 10px;
  border-radius: 10px;
}
.get-nft {
  margin-left: 30%;
}
/* 



 





.text-box1 {
  width: 20%;
  font-size: 28px;
  width: 20%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  background-color: #be252e;
  color: white;
}
.text-box2 {
  width: 20%;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 28px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

  background-color: #53a3c7;
  color: white;
}
.section5-content-box {
  display: flex;
  margin-top: 40px;
  justify-content: space-evenly;
}
#section6-landingpage {
  margin-top: 10%;
}
.section6-content {
  font-size: 40px;
  font-family: "Alata-Regular";
  margin: 50px;
  text-align: center;
} */
/* .section6-button {
  padding: 15px;
  width: 10%;
  text-align: center;
  background-color: #53a3c7;
  color: white;
  font-size: 24px;
  text-decoration: none;
  margin-left: 45%;
  border-radius: 20px;
  margin-bottom: 50px;
}

.text-color {
  color: #be252e;
}
 */
