.metamask-main-div {
  width: 100%;
  height: auto;
  overflow: hidden;
  scroll-behavior: smooth;
  min-width: 200px;
  max-width: 1700px;
  margin: 0 auto;
}
.metamask-title {
  text-align: center;
  font-size: 3rem;
  font-family: "Alata-Regular";
  color: black;
  padding-bottom: 20px;
}
.metamask-small-title {
  font-size: 1.9rem;
  font-family: "Alata-Regular";
  text-align: justify;
  padding-top: 20px;
}
.p + p {
  margin-top: 0px;
}
.metamask-content {
  font-family: "Alata-Regular";
  text-align: justify;
  font-size: 1.3rem;
}
.metamask-img {
  width: 100%;
}
.metamask-section1 {
  line-height: 40px;
  color: black;
  padding-top: 20px;
  text-align: justify;
  font-family: "Alata-Regular";
}
.metamask-section2 {
  line-height: 40px;
  color: black;
  padding-top: 20px;
  text-align: justify;
  font-family: "Alata-Regular";
}
.metamask-section3 {
  line-height: 40px;
  color: black;
  padding-top: 20px;
  text-align: justify;
  font-family: "Alata-Regular";
}
.mm-img {
  min-width: 200px;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 3%;
  padding-bottom: 3%;
}
.mm-img1 {
  min-width: 200px;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 20px;
}
.connect-wallet {
  margin: 0 auto;
  min-width: 200px;
  max-width: 900px;
  display: flex;
  justify-content: center;
}
.c-jYjTbW {
  width: 100%;
}
.connect-btn {
  margin: 0 auto;
  padding: 10px 40px;
  color: white !important;
  background-color: #53a3c7;
  font-size: 24px;
  border-radius: 20px;
}
.button-group {
  margin-bottom: 20px;
  margin-left: 20px;
}
.nftport-box {
  border: 1px solid black;
  width: 40%;
  margin: 0 auto;
  padding: 30px;
  margin-top: 50px;
}
.nft-img {
  width: 70%;
  height: auto;
  margin: 0 auto;
  margin-left: 20%;
}
.accent-color {
  color: blue !important;
  text-decoration: underline !important;
}
.p + p {
  margin-top: 0 !important;
}
.wordlcoin-turimg {
  font-size: 1.3rem;
  width: 23%;
}
.c-eUarye {
  background-color: #53a3c7 !important;
}
:hover.step-btn {
  color: white;
  background-color: #53a3c7;
}
.steps {
  color: white;
  background-color: #53a3c7;
}
.metamask-span {
  text-decoration: underline;
}
.bottom-line {
  font-weight: 700;
}
.metamask-dummy-ss {
  width: 50%;
  margin-left: 25%;
}
.nft-img-1 {
  width: 200px;
  height: 200px;
  margin: 46px 56px 45px 42px;
}
.nft-card {
  width: 300px;
  height: 400px;
  box-sizing: border-box;
  border: solid black 2px;
  border-radius: 10px;
}
.covalent-demo {
  margin: 0 auto;
  margin-left: 40%;
}
.name-nftport {
  margin-bottom: 30px;
}
.mint-nft {
  /* width: 30%; */
  /* padding: 20px; */
  background-color: #53a3c7;
  margin-top: 10px 20px;
  border-radius: 20px;
  color: white;
}
.nftImage_Id {
  background-color: #53a3c7;
  margin-left: 20px;
}
