.metamask-main-div{
    width: auto;
    height: auto;
    overflow: hidden;
    margin: 50px;
    margin-top: 10px;
}
.metamask-title{
    margin: 0 auto;
text-align: center;
font-size: 40px;

font-family:"Alata-Regular";
}
.metamask-small-title{
    /* text-align: center; */
font-size: 25px;
font-family:"Alata-Regular";
text-align: justify;
margin: 20px;
}
.navbar-div{
    margin-top: 30px;
    margin: 20px;
}
.metamask-content{
    font-family:"Alata-Regular"; 
    /* margin-top: 10px; */
    /* width: 100%; */
    margin: 20px;
    /* margin: 10px; */
    text-align: justify;
    
    
    font-size: 18px;
}
.metamask-img{
    width: 75%;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 15%;
}
.connect-wallet{
   margin: 0 auto;
   margin-top: 30px;
   margin-left: 40%;
   
}
.connect-btn{
margin: 0 auto;
padding: 10px 40px ;
color: white !important;
background-color:#53A3C7;
font-size: 24px;
border-radius: 20px;

}
.button-group{
    margin-bottom: 20px;
    margin-left: 20px;
}
.nftport-box{
    border: 1px solid black;
    width: 40%;
    margin: 0 auto;
    padding: 30px;
    margin-top: 50px;
}
.nft-img{
    width: 70%;
    height: auto;
    margin: 0 auto;
    margin-left: 20%;

}
:hover.step-btn{
    color: white;
    background-color: #53A3C7;
}
.steps{
    color: white;
    background-color: #53A3C7;
}
.metamask-span{
text-decoration: underline;
}
.bottom-line{
    font-weight: 700;
}
.metamask-dummy-ss{
    width: 50%;
    margin-left: 25%;
}